.page_container {
  padding-top: 120px;
  padding-left:280px;
}

.auth_board_container,
.env_board_container{
  width: 100%;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

.auth_detail_container{
  display: flex;
  gap: 20px;
  width: 102%;
}

.auth_detail_container_image{
  width: 50%;
  height: 400px;
  margin: 10px 0 30px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
}
.auth_detail_container_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auth_detail_container_post {
    width: 50%;
    height: 400px;
    margin: 10px 0 30px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.free_board_container{
    width: 103%;
    height: 70%;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.free_detail_container{
  width: 101%;
  height: 70%;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.detail_comment_container{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
