* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header_container {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  padding: 15px 0px;
  justify-content: flex-start;
  margin-left: 10px;
  padding: 20px;
  background-color: #FAFAFA;
}

.header_bar {
  display: flex;
  flex-direction: row;
  width: 88vw;
  justify-content: center;
  align-items: center;
}

.logo {
  flex: 1 1 auto;
}

img {
  max-width: 230px;
}

.search {
  display: flex;
  flex-direction: row;
  flex: 6 1 auto;
  justify-content: left;
  align-items: center;
  color: rgb(43 43 43);
  pointer-events: none;
  opacity: 0;
}

.header_bar_user {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: right;
  align-items: center;
  gap: 30px;

}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.w55 {
  max-width: 40px;
}

.logout_logo {
  display: flex;
  flex-direction: row;
  flex: 7 1 auto;
  cursor: pointer;
}

.header_icon {
  cursor: pointer;
}

a {
  text-decoration: none !important;
  color: rgb(43 43 43);
}

a.visited {
  color: inherit;
}