* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.my_post_container {
  display: flex;
  flex-direction: column;
  padding-left: 280px;
  padding-top: 120px;
  color: #2B2B2B;
  width: 91%;
  height: auto;
}

.my_post {
  display: flex;
  flex-direction: row;
  margin: 35px 0px 15px;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.openOrNot {
  display: inline-flex;
  height: 50px;
  padding: 15px 29px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  font-weight: bold;
  background-color: white;
  border: 1px solid #8DC693;
  color: #2B2B2B;
  font-size: 11pt;
  white-space: nowrap;
}

.openOrNot.active {
  background-color: #8DC693;
  color: white;
}
 
.each_post {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  width: auto;
  max-height: 550px;
  overflow-y: auto;
  gap: 10px;
  margin: 15px 0 50px 0;
  padding: 15px 15px 10px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  top: 5px;
  padding-right: 15px;
}

.edit_button, .delete_button, span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 11pt;
  background-color: white;
}

.each_post_info {
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.each_post_date {
  display: flex;
  flex-direction: row;
}

.user_info {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
  padding: 10px 15px 10px;
  border-bottom: 1px solid #D9D9D9;
}

.each_profile_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user_name {
  font-size: 13pt;
}

.each_post_content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  font-size: 11pt;
  height: auto;
  margin-bottom: 30px;
  padding-top: 15px;
}

.uploaded {
  width: 360px;
}

@media screen and (max-width: 768px) {
  .uploaded {
    width: 180px;
  }
}

.post_writing {
  display: flex;
  flex-direction: row;
  white-space: pre-wrap;
  margin-right: 15px;
}

.no_image {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}