.ReEditFree_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editer_wrapper.wide.reEdit {
  width: 75vw;
}

.post_complete_btn.wide.reEdit {
  width: fit-content;
}